.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(237, 232, 225);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: rgb(255, 255, 255);
}

fieldset {
  margin: 3rem;
  margin-bottom: 10rem;
  padding: 5rem;
  border-radius: 3rem;
  background-color: rgba(161, 167, 201);
  max-width: 700px;
  border-color: blue;
  border-style: hidden;
  /* background-image: url('../img/SEITEM-2.png'); */
}

form h2 {
  color: white;
  font-size:xx-large;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 2rem;
}

input {
  display: grid;
  justify-content: center;
  /* background-color:rgba(20, 20, 172, 0.554); */
  gap: 5rem;
  padding: 0.3rem;
  color: white;
  border-radius: 0.6rem;
  margin: 0.45rem;
  max-width:fit-content;
  place-content: center;
}

form {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.login Button {
  border-radius: 20%;
  font-size:x-large;
  max-width: fit-content;
  background-color:blue;
  color: white;
  margin-bottom: 1rem;
  margin-left: 3rem;
}

.contact Button {
  border-radius: 20%;
  font-size: x-large;
  width: 80%;
  padding: 5%;
  background-color:blue;
  color: white;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

label {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 3 rem;
  margin-bottom: 1rem;
  /* width: 90%; */
  /* margin-left: 3rem; */
}